{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true,
    "commonjs": true
  },
  "parserOptions": {
    "ecmaVersion": 6
  },
  "globals": {
    "jest": false,
    "expect": false,
    "describe": false,
    "test": false,
    "beforeAll": false,
    "beforeEach": false,
    "afterAll": false,
    "afterEach": false
  },
  "rules": {
    "no-console": "off"
  },
  "overrides": [
    {
      "files": ["app/public/js/**/*.js"],
      "env": {
        "browser": true,
        "node": false,
        "commonjs": false
      },
      "parserOptions": {
        "ecmaVersion": 2020,
        "sourceType": "module"
      }
    }
  ]
}
